{% extends "base.html" %}
{% load static i18n %}


{% block extra_head %}
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>

<style>
    .cc {
        font-weight: bold;
        padding-right:20px;
    }

    .title {
        padding: 10px 30px;
        color:#888;
        float:left;
    }

    .recent-activity-item {
        padding:5px;
        border-bottom: 1px solid #ccc;
    }
    .modal-backdrop
    {
        opacity:0.3 !important;
    }

    body .modal {
        /* new custom width */
        width: 560px;
        /* must be half of the width, minus scrollbar on the left (30px) */
        margin-left: -280px;
    }
</style>

<script language="javascript" type="text/javascript" src="{% static 'js/mhep-helper.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/library-r6.js' %}"></script>

{% endblock %}

{% block content %}

<div id="wrapper">

    <div id="organisation" class="main-block" style="display:none">
        <button id="back-myview" style="float:right; margin-top:5px; margin-right:5px" class="btn">Home</button>
        <div style="background-color:rgba(215, 210, 201, 0.9); color:#897A67; padding:10px;">

            <b>Organisation:</b>
            <span id="organisation-name"></span>
        </div>

        <div style="padding:10px">
            <b>Members:</b><br>
            <div id="organisationmembers"></div>
            {% if request.user.is_staff %}
            <br>
            <a id="organisation-add-member" href="">Edit organisation</a>
            {% endif %}
        </div>
    </div>

    <div class="main-block">
        <div style="background-color:rgba(215, 210, 201, 0.9); color:#897A67; padding:10px;"><b>My Organisations</b></div>
        <div style="padding:10px">
            <div id="myorganisations"></div>
            {% if request.user.is_staff %}
            <br>
            <a href="{% url "admin:assessments_organisation_changelist" %}">Manage organisations</button>
            {% endif %}
        </div>
    </div>
</div>

<div id="wrapper" class="assessments">
    <div style="padding-right:10px">
        <div class="main-block">
            <button id="new-assessment" style="float:right; margin-top:5px; margin-right:5px" class="btn">New</button>
            <div style="background-color:rgba(215, 210, 201, 0.9); color:#897A67; padding:10px;"><b><span id="assessments-title"></span></b></div>
            <div style="padding:20px">
                <br>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Status <i class="icon-question-sign" title="Completed assessments are locked"></i></th>
                        <th>Modified</th>
                        <th style="width:40px"></th>
                        <th style="width:30px"></th>
                        <th style="width:30px"></th>
                    </tr>

                    <tbody id="projects"></tbody>

                </table>

                <div id="noprojects" class="alert alert-warning" style="display:none">No projects have been created yet, click create new project to get started</div>
            </div>
        </div>
    </div>
</div>

<div id="modal-assessment-create" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create new assessment</h3>
    </div>
    <div class="modal-body">
        <p><b>Add new assessment:</b></p>
        <p>
            <span class="muted">Project name</span>
            <br><input id="project-name-input" type="text" style="width:82%" />
        </p>
        <p>
            <span class="muted">Project description</span>
            <br><input id="project-description-input" type="text" style="width:82%" />
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="assessment-create" class="btn btn-primary">Create</button>
    </div>
</div>

<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">WARNING deleting a project is permanent</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this project?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="confirmdelete" class="btn btn-primary">Delete permanently</button>
    </div>
</div>

<div id="modal-share-project" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Share assessment: </h3>
    </div>
    <div class="modal-body">

        <p>Shared with:</p>
        <table class="table" id="shared-with-table">
        </table>

        <p>Enter user, or organisation name to share this assessment with:</p>
        <input id="sharename" type="text" style="width:420px"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="share-project" class="btn btn-primary">Share</button>
    </div>
</div>

<script>

    var viewmode = "personal";
    var orgid = 0;
    var myusername = '{{ user.username|default:"anonymous" }}';
    $(".username").html(myusername);
    var path = '{{ request.build_absolute_uri }}';
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var now = (new Date()).getTime() * 0.001;
// -----------------------------------------------------------------------------------
// 1) Load project lists
// -----------------------------------------------------------------------------------

    var projects = mhep_helper.getlist();
    draw_projects("#projects", projects);

    $("#assessments-title").html("My Assessments");
// -----------------------------------------------------------------------------------
// Check that the user at least one library of each type and if not create it from the default one
// Check that all the elements in the default library are in the user's Standard library, copy over the ones that are not (kind of getting in sync)
// -----------------------------------------------------------------------------------

    var libraries = {};
    $.ajax({
      url: apiURL + '/libraries/',
      async: true,
      datatype: "json",
      success: function (user_libraries) {
            // Check that the user at least one library of each type and if not create it from the default one
            var user_has_the_library = false;
            for (library_type in standard_library) {
                user_has_the_library = false;
                for (library_index in user_libraries) {
                    if (user_libraries[library_index].type == library_type)
                        user_has_the_library = true;
                }
                if (!user_has_the_library) {
                    const library_name = "StandardLibrary - " + myusername;

                    const body = JSON.stringify({
                      'name': library_name,
                      'type': library_type,
                      'data': standard_library[library_type],
                    });

                    // create new library
                    $.ajax({
                      url: apiURL + '/libraries/',
                      type: 'POST',
                      data: body,
                      datatype: "json",
                      contentType: "application/json;charset=utf-8",
                      async: false,
                     });
                }
            }
            // Check that all the elements in the default library are in the user's Standard library, copy over the ones that are not (kind of getting in sync)
            for (library_type in standard_library) { // e.g. 'appliances_and_cooking'
                for (let i=0; i < user_libraries.length; i++) {
                    const user_library = user_libraries[i];
                    let library_changed = false;
                    if (user_library.type == library_type && user_library.name == "StandardLibrary - " + myusername) {
                        var user_library_data = user_library.data;
                        for (item in standard_library[library_type]) {
                            if (user_library_data[item] == undefined) {
                                console.log('added missing library item `', item, '` to user library ',
                                            user_library.type, ' ', user_library.name);
                                user_library_data[item] = standard_library[library_type][item];
                                library_changed = true;
                            }
                        }
                    }
                    if (library_changed) {
                        var library_string = JSON.stringify(user_library);
                        library_string = library_string.replace(/&/g, 'and');
                        $.ajax({
                          type: 'PATCH',
                          url: apiURL + '/libraries/' + user_libraries[library_index].id + '/',
                          data: JSON.stringify({'data': library_string}),
                          datatype: "json",
                          contentType: "application/json;charset=utf-8",
                          success: function (response) {
                                console.log("updated library: " + library_type);
                          }});
                    }
                }
            }
        }
    });
// -----------------------------------------------------------------------------------
// Create new assessment
// -----------------------------------------------------------------------------------

    $("#new-assessment").click(function () {
        $("#modal-assessment-create").modal("show");
    });
    $("#assessment-create").click(function () {

        var name = $("#project-name-input").val();
        var description = $("#project-description-input").val();
        if (name == "") {
            alert("Please enter a project name");
        } else {
          var callback = function (project) {
            projects.push(project);
            draw_projects("#projects", projects);
            $("#noprojects").hide();
          };
          if (viewmode == "organisation" && orgid != 0) {
            mhep_helper.create(name, description, orgid, callback);
          }
          else {
            mhep_helper.create(name, description, null, callback);
          }
          $("#project-name-input").val("");
          $("#project-description-input").val("");
          $("#modal-assessment-create").modal("hide");
        }
    });
// -----------------------------------------------------------------------------------
// Delete assessment
// -----------------------------------------------------------------------------------

    $(".assessments").on('click', '.delete-project', function () {
        var projectid = $(this).attr('projectid');
        var z = $(this).attr('z');
        $('#myModal').modal('show');
        $('#myModal').attr('the_id', projectid);
        $('#myModal').attr('the_row', z);
    });
    $("#confirmdelete").click(function () {
        var projectid = $('#myModal').attr('the_id');
        var z = $('#myModal').attr('the_row');
        if (mhep_helper.delete(projectid)) {
            projects.splice(z, 1);
            draw_projects("#projects", projects);
        }

        $('#myModal').modal('hide');
    });
// -----------------------------------------------------------------------------------
// Share assessment
// -----------------------------------------------------------------------------------

    $(".assessments").on('click', '.share-project-openmodal', function () {
        alert("Not currently supported.");
        return;
        /* TODO(PMF): disabled for port phase 1
        var projectid = $(this).attr('projectid');
        var z = $(this).attr('z');
        $.ajax({url: path + "assessment/getshared.json", data: "id=" + projectid, success: function (shared) {
                var out = "";
                for (var i in shared) {
                    if (myusername != shared[i].username)
                        out += "<tr><td>" + shared[i].username + "</td></tr>";
                }
                if (out == "")
                    out = "<tr><td>This assessment is currently private</td></tr>";
                $("#shared-with-table").html(out);
            }});
        $('#modal-share-project').modal('show');
        $('#modal-share-project').attr('the_id', projectid);
        $('#modal-share-project').attr('the_row', z);
        console.log("Share project " + projectid);
        */
    });
    $("#share-project").click(function () {
        alert("Not currently supported.");
        return;
        /* TODO(PMF): disabled for port phase 1. Re-enable later.

        var username = $("#sharename").val();
        var projectid = $('#modal-share-project').attr('the_id');
        $.ajax({url: path + "assessment/share.json", data: "id=" + projectid + "&username=" + username, success: function (data) {
                console.log(data);
                $.ajax({url: path + "assessment/getshared.json", data: "id=" + projectid, success: function (shared) {
                        var out = "";
                        for (var i in shared) {
                            if (myusername != shared[i].username)
                                out += "<tr><td>" + shared[i].username + "</td></tr>";
                        }
                        if (out == "")
                            out = "<tr><td>This assessment is currently private</td></tr>";
                        $("#shared-with-table").html(out);
                    }});
            }});
        */
    });
// -----------------------------------------------------------------------------------
// Change assessment status
// -----------------------------------------------------------------------------------

    $(".assessments").on('change', '.project-status', function () {
        var projectid = $(this).attr('projectid');
        var z = $(this).attr('z');
        var status = $(this).val();
        mhep_helper.set_status(projectid, status);
        projects[z].status = status;
        draw_projects("#projects", projects);
    });
// -----------------------------------------------------------------------------------
// Draw assessment list
// -----------------------------------------------------------------------------------

    function draw_projects(element, projects)
    {
        var status_options = ["Complete", "In progress", "Test"];
        var out = "";
        for (s in status_options) {
            // out += "<tr><th>"+status_options[s]+"</th><th></th><th></th><th></th><th></th><th></th><th></th></tr>";
            for (z in projects)
            {
                if (status_options[s] == projects[z].status) {
                    out += "<tr>";
                    out += "<td>" + projects[z].name + "</td>";
                    out += "<td style='font-style:italic; color:#888'>" + projects[z].description + "</td>";
                    out += "<td>" + projects[z].author + "</td>";
                    var color = "";
                    if (projects[z].status == "Complete")
                        color = " alert-success";
                    if (projects[z].status == "In progress")
                        color = " alert-info";
                    if (projects[z].status == "Test")
                        color = " alert-error";
                    out += "<td><select class='project-status" + color + "' z=" + z + " projectid=" + projects[z].id + ">";
                    for (o in status_options) {
                        var selected = "";
                        if (projects[z].status == status_options[o])
                            selected = " selected"
                        out += "<option " + selected + ">" + status_options[o] + "</option>";
                    }
                    out += "</select></td>";
                    var t = new Date();
                    var d = new Date(projects[z].mdate * 1000);
                    if (t.getYear() == d.getYear()) {
                        var mins = d.getMinutes();
                        if (mins < 10)
                            mins = "0" + mins;
                        out += "<td>" + d.getHours() + ":" + mins + " " + d.getDate() + " " + months[d.getMonth()] + "</td>";
                    } else {
                        out += "<td>" + d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear() + "</td>";
                    }


                    const assessmentURL = '/assessments/' + projects[z].id + '/';
                    out += '<td><a id="open-project-' + projects[z].id + '" href="' + assessmentURL + '"><span class="label label-info">Open <i class="icon-folder-open icon-white"></i></span></a></td>';
                    out += '<td><span class="share-project-openmodal" projectid=' + projects[z].id + ' z=' + z + ' style="cursor:pointer"><span class="label label-info"><i class="icon-share icon-white"></i></span></td>';
                    out += '<td><span class="delete-project" projectid=' + projects[z].id + ' z=' + z + ' style="cursor:pointer"><span class="label label-important"><i class="icon-trash icon-white"></i></span></td>';
                    out += "</tr>";
                }
            }
        }

        $(element).html(out);
        if (projects.length == 0)
            $("#noprojects").show();
        else
            $("#noprojects").hide();
    }



// ----------------------------------------------------------------------------
// ORGANISATIONS
// ----------------------------------------------------------------------------
    var myorganisations = {};
    $.ajax({url: apiURL + "/organisations/", success: function (result) {
            for (let i = 0; i < result.length; i++) {
                const org = result[i];
                org.orgid = org.id;
                myorganisations[org.id] = org;
            }
            draw_organisation_list();
            //draw_organisation(8);
        }});

    $("body").on("click", ".org-item", function () {
        orgid = $(this).attr("orgid");
        draw_organisation(orgid);
        edit_org_link = "{% url 'admin:assessments_organisation_change' 12345 %}".replace(/12345/, orgid.toString());
        $("#organisation-add-member").attr("href", edit_org_link);
        $("#organisation").show();
        viewmode = "organisation";
        $.ajax({url: apiURL + "/organisations/" + orgid + "/assessments/", success: function (result) {
                projects = result;
                draw_projects("#projects", projects);
                $("#assessments-title").html(myorganisations[orgid].name + " Assessments");
                $("#myview").hide();
            }});
    });
    function draw_organisation_list() {
        var out = "";
        for (var z in myorganisations) {
            out += "<div class='org-item recent-activity-item' style='cursor:pointer' orgid=" + myorganisations[z].orgid + " >";
            out += "<b>" + myorganisations[z].name + "</b><br>" + myorganisations[z].assessments + " Assessments";
            out += "</div>";
        }
        $("#myorganisations").html(out);
    }

    function draw_organisation(orgid) {
        var out = "";
        $("#organisation-name").html(myorganisations[orgid].name);
        var members = myorganisations[orgid].members;
        for (var z in members) {
            const lastLogin = new Date(members[z].last_login);

            out += "<div class='recent-activity-item' style='height:40px'>";
            out += '<img src="{% static "img/defaultuser.png" %}" style="height:40px; float:left; padding-right:5px"/ >';
            out += "<b>" + members[z].name + "</b><br>Last active: " + lastLogin;
            out += "</div>";
        }
        $("#organisationmembers").html(out);
    }

    $("#back-myview").click(function () {
        var viewmode = "personal";
        var orgid = 0;
        $("#organisation").hide();

        projects = mhep_helper.getlist();
        draw_projects("#projects", projects);
        $("#assessments-title").html("My Assessments");
        $("#myview").show();
    });


// -------------------------------------------------------
// Other
// -------------------------------------------------------
  $('#modal-assessment-create').on('keypress', function (e) {
        if (e.which == 13) {
            $('#assessment-create').click();
        }
    });

</script>
{% endblock %}
